@{
    ViewData["Title"] = "Ratings";
}

@model Mission4.Models.Movie

<div class="jumbotron text-center">
    <form method="post">
        <div asp-validation-summary="All"></div>

        <input type="hidden" asp-for="Id" />

        <label class="form-label" asp-for="CategoryID">Category</label>
        <select class="custom-select" asp-for="CategoryID">
            @foreach (Category category in ViewBag.categories)
            {
                <option value="@category.CategoryID">@category.CategoryName</option>
            }
        </select>

        <label class="form-label" asp-for="Title">Title</label>
        <input class="form-control" asp-for="Title" />

        <label class="form-label" asp-for="Year">Year</label>
        <input class="form-control" asp-for="Year" />

        <label class="form-label" asp-for="Director">Director</label>
        <input class="form-control" asp-for="Director" />

        <label class="form-label" asp-for="Rating">Rating</label>
        <select class="custom-select" asp-for="Rating">
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG-13">PG-13</option>
            <option value="R">R</option>
        </select>

        <label class="form-label" asp-for="Edited">Edited</label>
        <select class="custom-select" asp-for="Edited">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>

        <label class="form-label" asp-for="LentTo">Lent To</label>
        <input class="form-control" asp-for="LentTo" />

        <label class="form-label" asp-for="Notes">Notes</label>
        <input class="form-control" asp-for="Notes" />

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>
