@{
    ViewData["Title"] = "Form Submission";
}

@model Mission4.Models.Movie

<div class="jumbotron">
    <h1>You have successfully submitted the form!</h1>
    <h2>You have now added @Model.Title!</h2>
</div>